.git
.gitignore
.env
**/.env
**/.venv
**/venv
**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/*.pyc
**/*.egg-info
**/node_modules
**/dist
**/.vite
**/.web_builder
**/tests
docs
back_end
front_end
docker-compose.*.yml
*.log
